.technology-image{
    width: 130px;
    height: 100px;
}

body{
    width: auto;
}

.technology-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technology-name{
    font-weight: 500;
}

.technology-description{
    color: gray;
}