body{
    background-color: rgb(230, 134, 9);
}

.my-image{
    padding-top: 10px;
    padding-left: 15px;
    width: 550px;
    height: auto;
    /* position: relative;
    transform: translate(70%, -50%); */
}
.name{
    color: white;
    font-size: x-large;
}
.intrests-cards
{
    display: flex;
    flex-direction: row;
}
.intrests-card{
    padding: 10px;
}
.my-description{
    color: rgb(217, 214, 214);
}

.project-cards
{
    display: flex;
    flex-direction: row;
    border: none;
}

.project-card{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.heading-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    font-size: x-large;
}

.heading-tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: grey;
    padding-bottom: 50px;
}

.gap-div{
    padding: 40px;
}


.nav{
    position: absolute;
    color: white;
    padding-top: 17px;
}

.about{
    padding-top: -1%;
    display: flex;
    align-items: center;
    
}

.list{
    padding-top:22px ;
    /* padding-left: 40px */
}
.list a, .list button{
    color: white;
}

.button{
    color: black
}

.menu{
    display: flex;
    flex-direction: row;
    /* padding-left: 180px ; */
}
.menu a, .menu button{
    padding-right: 60px;
}

.button{
    padding-right:50px;
}
.menu li{
    transition-duration: 0.2s;
}

.menu li:hover{
    scale: 1.1;
    transition-duration: 0.2s;
}

.logo{
    width: auto;
    height: 50px;
    padding-left: 20px;
    transition-duration: 0.2s;
    /* padding-left: 20px; */

}
.logo:hover{
    scale: 1.1;
    /* padding-left: 20px; */
    padding-right: 20px;
    transition-duration: 0.2s;
}
