body{
    background-color: rgb(230, 134, 9);
}

.my-image{
    padding-top: 10px;
    padding-left: 15px;
    width: 550px;
    height: 550px;
    /* position: relative;
    transform: translate(70%, -50%); */
}
.name{
    color: white;
    font-size: x-large;
}
.intrests-cards
{
    display: flex;
    flex-direction: row;
}
.intrests-card{
    padding: 10px;
}
.my-description{
    color: rgb(217, 214, 214);
}

.project-cards
{
    display: flex;
    flex-direction: row;
    border: none;
}

.project-card{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.heading-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    font-size: x-large;
}

.heading-tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: grey;
    padding-bottom: 50px;
}

.gap-div{
    padding: 40px;
}

.menu{
    justify-content: left;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 180px;
}

.menu option{
    padding-right: 60px;
    padding-top: 23px;
    color: rgb(240, 237, 237);
    transition-duration: 0.2s;
}
.menu option:hover{
    /* font-weight: bold; */
    scale: 1.1;
    transition-duration: 0.2s;
    cursor: pointer;
}
.nav{
    position: absolute;
    color: white;
    padding-top: 17px;
}

.about{
    padding-top: 3%;
    display: flex;
    align-items: center;
    
}


